.element__button-trash{
    padding: 0;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }


.element__button-trash:hover{
    opacity: .6;

    }
      