.page{
  background-color: #000000;
  max-width: 1280px;
  margin: auto;
  font-family: 'Inter','Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header{
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

.header__logo{
  max-width: 142px;
  padding-bottom: 41px;
}

.profile{
  max-width: 880px;
  padding: 40px 0 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.profile__avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info{
  max-width: 336px;
  padding: 0 244px 0 30px;
  display: grid;
  grid-template-columns: fit-content(294px) min-content;
  grid-template-rows: min-content min-content;
  column-gap: 18px;
  row-gap: 16px;
  align-items: center;
}

.profile__name{
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #ffffff;
}

.profile__button{
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #ffffff;
  background-image: url(../images/pensil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.profile__about{
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.profile__button-photo{
  width: 150px;
  height: 50px;
  padding: 0;
  background-color: #000000;
  background-image: url(/images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.elements{
 max-width: 880px;
 padding-bottom: 66px;
 margin: 0 auto;

}

.elements__container{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  padding-left: 0;
  margin: 0;
}

.element{
  display: flex;
  flex-direction: column;
  max-width: 282px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.element__photo{
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.element__about{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;

}

.element__title{
  color: #000000;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 189px;

}

.element__button-like{
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-image: url(/images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  overflow: visible;
}

.footer{
  margin: 0;
  padding: 0 762px 60px 200px;
  max-width: 318px;
  ;
}

.footer__copyright{
   margin: 0;
   color: #545454;
   font-weight: 400;
   font-size: 18px;
   line-height: 122%;
   text-align: left;
}
