.form__disable-submit{
background-color: #fff;
border: 1px solid #c4c4c4;
color: #c4c4c4;
};


/* .form__disable-submit:disabled {
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  background-color: #fff;
}; */

.form__disable-submit:hover{
  opacity: .8;
}
