.profile__button-avatar{
  width: 120px;
  height: 120px;
  border-radius: 20%;
  padding: 0;
  border: none;
  position: absolute;
  background-image: url(../../../images/pensil_av.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,.8);
  transition: 1s;
  opacity: 0;

  cursor: pointer;
}

.profile__button-avatar:hover{
  opacity: 1;
}

